@import "mixins";
@import "shadow";

$global_margin: 9em;
.title{
  margin-left: $global_margin;
  margin-right: $global_margin;
  .main-content-title:first-child{
    border-left: 0;
    border-right:0;
  }

  .main-content-title {
    width: 30%;
    float:left;
    margin: 0px 0px 0px 0px;
    padding: 0px;
    border-left: #BCC8D1 1px solid;
    border-right: #BCC8D1 1px solid;
    line-height:3em;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #330033;
    @include gradient(#FFF, whitesmoke);
    font-size: 3em;
    @include shadow('curved');
  }


  .main-content-title:last-child{
    border-right: 0;
    border-left:0;
  }
}

.main-content {
  margin-left: $global_margin;
  margin-right: $global_margin;
  clear: left;
  position:absolute;
  bottom:0;
  width: 68%;
  padding: 1em;
  .content {
    &.hidden{
      display: none;
    }
    &.showing {
      @include box-shadow(black 0 0 10px);
      @include gradient(#FFFFFF, #F0F0F0);
      border: #BCC8D1 1px solid;
      @include all_rounded_corners(10px);
      display: block;
    }
  }
}