/* _mixins.scss */
.title .main-content-title {
  width: 20%;
  float: left;
  margin: 0px 0px 0px 0px;
  padding: 0px;
  border-bottom: #BCC8D1 1px solid;
  border-left: #BCC8D1 1px solid;
  border-right: #BCC8D1 1px solid;
  line-height: 3em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #330033;
  /* fallback/image non-cover color */
  background-color: white;
  /* Firefox 3.6+ */
  background-image: -moz-linear-gradient(white, whitesmoke);
  /* Safari 4+, Chrome 1+ */
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(whitesmoke));
  /* Safari 5.1+, Chrome 10+ */
  background-image: -webkit-linear-gradient(white, whitesmoke);
  /* Opera 11.10+ */
  background-image: -o-linear-gradient(white, whitesmoke);
  font-size: 3em; }

.main-content {
  clear: left;
  position: absolute;
  bottom: 0;
  width: 100%; }
  .main-content .content.hidden {
    display: none; }
  .main-content .content.showing {
    background-color: #7B8D9B;
    display: block; }
